@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Binding voorbeelden</h2>
        <ul>
            <li>@Html.ActionLink("Multiple checkboxes (via form POST)", "MultipleCheckboxViaFormPost", "Binding")</li>
            <li>@Html.ActionLink("Multiple checkboxes (via AJAX POST)", "MultipleCheckboxViaAjaxPost", "Binding")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Redirect voorbeelden</h2>
        <ul>
            <li>@Html.ActionLink("Redirect (server-side)", "RedirectServerSide", "Redirect")</li>
            <li>@Html.ActionLink("Redirect (client-side)", "RedirectClientSide", "Redirect")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Kendo (UI) voorbeelden</h2>
        <ul>
            <li>@Html.ActionLink("Grid", "Grid", "Kendo")</li>
        </ul>
    </div>
</div>
